<h1>New creator</h1>
<%= form_for(@creator) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  <%= f.label :birthdate %>
  <%= f.text_field :birthdate %>
  <%= f.label :introduction %>
  <%= f.text_field :introduction %>
<% end %>
<script type="text/javascript">
  <%= render "validate.js" %>
</script>


<%= render 'form' %>

<%= link_to 'Back', creators_path %>
